@font-face {
	// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
	font-family: "Segoe UI"; 
	// адрес шрифта и тип 
	src: url("./fonts/9404.ttf") format("truetype"); 
	font-style: normal; 
} 